*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    /* overflow-y: scroll; */
    margin: auto;
    border: 5px solid red;
    width: 50vw;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column-reverse; */
    /* main axis  */
    justify-content: space-between;
    /* cross axis  */
    align-items: center;
    /* gap: 8px; */
    align-content: space-evenly;
    
}

.box{
    background-color: violet;
    border: 1px solid black;
    width: 100px;
    height: 100px;

}

.box2{
    align-self: flex-start;
}