*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}


.store{
    margin: auto;
    width: 60%;
    min-height: 100%;
}

h1{
    font-size: 60px;
    text-align: center;
    padding: 30px;
}

.shoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.card{
    border-radius: 30px;
    width: 30%;
    min-height: 450px;
    padding: 10px;
    box-shadow: 7px 7px 10px rgb(201, 201, 201);
    margin-bottom: 40px;
}

/* .card div:nth-child(1) > img {
    width:100%;
} */

.image{
    width: 100%;
    height: 380px;
    overflow: hidden;
    border-radius: 30px;
}

.image > img{
    border-radius: 30px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image > img:hover{
    scale: 1.1;
    transition: all 0.3s ease-in;
}

.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px ; 
}

.description{
    display: flex;
    flex-direction: column;
    gap: 8px;       
}

.cart >img{
    width: 45px;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #20c568 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #20c568;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

  /* Mobile: 320px–480px
  Tablets: 481px–768px
  Laptops: 769px–1024px
  Desktops: 1025px–1200px
  Extra large screens: 1201px and above
  Desktop computers: 1920px */


@media screen and (max-width:319px) {
    .card {
        border-radius: 30px;
        width: 100%;
        min-height: 450px;
        padding: 10px;
        box-shadow: 7px 7px 10px rgb(201, 201, 201);
        margin-bottom: 40px;
    }

    .store {
        margin: auto;
        width: 95%;
        min-height: 100%;
    }
}
@media screen and (min-width:320px) and (max-width:480px) {
    .store {
        margin: auto;
        width: 90%;
        min-height: 100%;
    }
    .card {
        display: flex;
        border-radius: 30px;
        width: 100%;
        min-height: 200px;
        padding: 10px;
        box-shadow: 7px 7px 10px rgb(201, 201, 201);
        margin-bottom: 40px;
    }

    .image {
        width: 80%;
        height: 200px;
        overflow: hidden;
        border-radius: 30px;
    }

    .details {
        height: 180px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        padding: 0 20px;
        padding-top: 20px;
    }

    .cart >img {
        padding-top: 10px;
        width: 30px;
    }
}
@media screen and (min-width:481px) and (max-width:550px) {
    .store {
        margin: auto;
        width: 75%;
        min-height: 100%;
    }
    .card {
        border-radius: 30px;
        width: 100%;
        min-height: 450px;
        padding: 10px;
        box-shadow: rgb(201, 201, 201) 7px 7px 10px;
        margin-bottom: 40px;
    }   
}

@media screen and (min-width:551px) and (max-width:769px) {
    .store {
        margin: auto;
        width: 100%;
        min-height: 100%;
    }
    .card {
        /* display: flex;
        flex-direction: column;
        justify-content: space-around; */
        border-radius: 30px;
        width: 45%;
        min-height: 10px;
        padding: 10px;
        box-shadow: rgb(201, 201, 201) 7px 7px 10px;
        margin-bottom: 40px;
    }   
    .shoes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        height: 100%;
    }

    .image {
        width: 100%;
        height: 250px;
        overflow: hidden;
        border-radius: 30px;
    }
}
@media screen and (min-width:769px) and (max-width:1024px) {
    .store {
        width: 100%;
    }
    .card {
        width: 30%;
        min-height: 10px;
    }   
    .shoes {
        justify-content: space-around;
        width: 100%;
        height: 100%;
    }

    .image {
        width: 100%;
        height: 250px;
        overflow: hidden;
        border-radius: 30px;
    }
}
@media screen and (min-width:1025px) and (max-width:1200px) {
    .store {
        margin: auto;
        width: 100%;
        min-height: 100%;
    }
    .card {
        /* display: flex;
        flex-direction: column;
        justify-content: space-around; */
        border-radius: 30px;
        width: 25%; 
        min-height: 10px;
        padding: 10px;
        box-shadow: rgb(201, 201, 201) 7px 7px 10px;
        margin-bottom: 40px;
    }   
    .shoes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        height: 100%;
    }

    .image {
        width: 100%;
        height: 250px;
    }
}